* {
    padding: 0px;
    margin: 0px;
}
 
body {
    background-image: url(images/background_login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    background-color: #142E50;
    width: 20%;
    height: 50%;
    border-radius: 10px;
    min-width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', 'Arial';
    position: relative;
}

.titulo {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
}

.titulo h1 {
    text-align: center;
    font-size: 3em;
}

.titulo h2 {
    text-align: center;
    margin-top: -7%;
    font-size: 1.5em;
}

.campos {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.campos div {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.campos img {
    width: 1.5em;
    padding: 5px;
    padding-left: 10px;
}

.campos input {
    border: none;
    width: 100%;
    height: 100%;
    background: none;
    outline: 0;
}

:placeholder-shown {
    font-size: 1.3em;
}

.campos a {
    margin-top: -2%;
    padding-right: 10%;
    text-align: end;
    color: white;
    text-decoration: none;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.botao input {
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background-color: #C38A19;
    color: white;
    border-radius: 20px;
    width: 40%;
    min-width: 100px;
    height: 40%;
    min-height: 60px;
    font-size: 1.3em;
    cursor: pointer;
}

.botao input:hover {
    background-color: #eaa61d;
    color: #ffffff;
}




