<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProcessarLogin</servlet-name>
        <servlet-class>controller.ProcessarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarOrcamento</servlet-name>
        <servlet-class>controller.GerenciarOrcamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPerfil</servlet-name>
        <servlet-class>controller.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuario</servlet-name>
        <servlet-class>controller.GerenciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarProduto</servlet-name>
        <servlet-class>controller.GerenciarProduto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProcessarLogin</servlet-name>
        <url-pattern>/ProcessarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarOrcamento</servlet-name>
        <url-pattern>/GerenciarOrcamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPerfil</servlet-name>
        <url-pattern>/GerenciarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuario</servlet-name>
        <url-pattern>/GerenciarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarProduto</servlet-name>
        <url-pattern>/GerenciarProduto</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
