* {
    overflow: visible;
}

form {
    width: 70%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 20px;
}

.form {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}


.campos {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 10px;
}

.titulo_campo {
    font-weight: bolder;
    font-size: 1.4em;
    color: #142E50;
}

.campos input, textarea {
    width: 99%;
    height: 2em;
    border: none;
    border-bottom: 3px solid #142E50;
    outline: none;
    font-size: 1.3em;
}

.seletor{
    width: 99%;
    min-height: fit-content;
    height: 30px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 1.3em;
    overflow: scroll;
}

.seletor option {
    height: 2em;
    font-size: 1.3em;
}

.campos input:hover, textarea:hover {
    background-color: #006eff15;
}

.campos textarea {
    height: 50px;
}


.botao_radio {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    background-color: #142E50;
    padding: 10px;
    color: #FFB729;
    border-radius: 5px;
}

.botao_radio input {
    height: 1.3em;
}

.botao_radio:hover {
    background-color: #335a8e;
}

.botao_confirma, .botao_cancela {
    margin: 2% auto;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.botao_confirma:hover, .botao_cancela:hover {
    cursor: pointer;
}

.botao_confirma {
    background-color: #142E50;
}

.botao_confirma:hover {
    background-color: #335a8e;
}

.botao_cancela {
    background-color: #bf0202;
}

.botao_cancela:hover {
    background-color: #ff3939;
}

.tabela {
    margin-bottom: 0px;
}
