header{
    background: rgb(11, 67, 115);
    position:relative;
      width: 101%;
     padding: 20px 0;
      top: -8px;
}
.logo{
    background-position: left center;
    background-size: 230px 600px;
    background-repeat: no-repeat;
    background-image: url("imagens/logo.svg")
    
}

nav{
   width: 101%;
   position: relative;
   background: rgb(211, 211, 211);
    top: -24px;
}
nav ul {
 display: flex;
}
nav ul li{
 margin-left: 5rem;
}
nav li{
display: inline;
  
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.rodape{
  width: 101%;
    position: relative;
   background: rgb(11, 67, 115);
   text-align: center;
    top: 1000px
}